:root{--white: #ffffff;--snow: #fafafa;--white-smoke: #f5f4f4;--zircon: #eceded;--forget-me-not: #fcf1e0;--carrot-orange: #fd9222;--cinnabar: #e74a3b;--matterhorn: #4c4c4c;--eclipse: #404040;--blackcurrant: #1e1823;--black: #111111}
