<section class="bestsellers section">
  <div class="container">
    <h2 class="section-title"><span class="orange">Top</span> sellers</h2>
    <ul class="bestsellers-list">
      <li class="bestsellers-item">
        <div class="bestsellers-wrapper">
          <img
            srcset="
              ./img/bestsellers-1-w368.jpg    1x,
              ./img/bestsellers-1-w368@2x.jpg 2x
            "
            src="./img/bestsellers-1-w368.jpg"
            alt="A close-up shot of a stack of dark chocolate squares and scattered around roasted coffee beans and a few hazelnuts"
            width="368"
            height="464"
          />
          <p class="bestsellers-overlay transition">
            Chocolate with nuts is a delectable combination that brings together
            the smoothness of chocolate and the crunchiness of nuts. Whether
            it's milk chocolate, dark chocolate, or white chocolate, the
            addition of nuts adds a whole new dimension of flavor and texture.
          </p>
        </div>
        <h3 class="bestsellers-name">Chocolate with nuts</h3>
      </li>
      <li class="bestsellers-item">
        <div class="bestsellers-wrapper">
          <img
            srcset="
              ./img/bestsellers-2-w368.jpg    1x,
              ./img/bestsellers-2-w368@2x.jpg 2x
            "
            src="./img/bestsellers-2-w368.jpg"
            alt="Several pieces of dark chocolate stacked on top of each other, with a sprig of mint on the top and scattered around raisins and cinnamon sticks"
            width="368"
            height="464"
          />
          <p class="bestsellers-overlay transition">
            Chocolate with fruit is an unbeatable combination of two of the
            tastiest things in the world. This dessert combines delicate and
            aromatic chocolate with fresh and juicy fruits, creating a true
            poetry of taste.
          </p>
        </div>
        <h3 class="bestsellers-name">Chocolate with fruits</h3>
      </li>
      <li class="bestsellers-item">
        <div class="bestsellers-wrapper">
          <img
            srcset="
              ./img/bestsellers-3-w368.jpg    1x,
              ./img/bestsellers-3-w368@2x.jpg 2x
            "
            src="./img/bestsellers-3-w368.jpg"
            alt="Several pieces of dark chocolate stacked on top of each other, with a single chocolate truffle perched on top"
            width="368"
            height="464"
          />

          <p class="bestsellers-overlay transition">
            Dark chocolate is a rich and indulgent treat that is beloved by many
            chocolate enthusiasts. It is made from cocoa beans, which are
            roasted, ground, and then processed to produce chocolate liquor.
            Dark chocolate contains a higher percentage of cocoa solids compared
            to milk chocolate.
          </p>
        </div>
        <h3 class="bestsellers-name">Dark chocolate</h3>
      </li>
    </ul>
  </div>
</section>
