<header class="header">
  <div class="container header-wrapper">
    <nav class="navigation">
      <a class="logo" href="./index.html"
        ><span class="accent">Simply</span>Chocolate
        <svg class="logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="navigation-menu">
        <li class="navigation-item">
          <a class="navigation-link transition" href="./index.html#home"
            >Home</a
          >
        </li>
        <li class="navigation-item">
          <a class="navigation-link transition" href="./index.html#how-its-made"
            >How it’s made?</a
          >
        </li>
        <li class="navigation-item">
          <a
            class="navigation-link transition"
            href="./index.html#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <ul class="socials">
      <li class="socials-item">
        <a
          class="socials-link transition"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Proceed to our Facebook"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link transition"
          href="https://instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Proceed to our Instagram"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link transition"
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Proceed to our Twitter"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="mobile-menu-btn button"
      type="button"
      aria-label="Open mobile menu button"
    >
      <svg class="mobile-menu-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
