<section class="hero" id="home">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Treat yourself or a loved one to our&nbsp;finest ingredients for a
        moment of pure delight!
      </h1>
      <div class="btn-wrapper">
        <ul class="btn-list">
          <li class="btn-item">
            <button class="buy-now-btn button transition" type="button">
              Buy now
            </button>
          </li>
          <li class="btn-item">
            <button class="how-its-made-btn button transition" type="button">
              How it's made
            </button>
          </li>
        </ul>
        <button class="scroll-down-btn button" type="button">
          Scroll down
          <span class="circle transition">
            <svg class="scroll-icon transition">
              <use href="./img/icons.svg#icon-scroll-down"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
