<section class="ingredients section">
  <div class="container">
    <h2 class="section-title">
      It all adds up to one exceptional
      <span class="orange">taste</span> sensation
    </h2>
    <ul class="ingredients-list">
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-1.png 1x, ./img/ingredients-1@2x.png 2x"
          src="./img/ingredients-1.png"
          alt="Several pieces of milk chocolate"
        />
        <h3 class="ingredients-name">Milk chocolate</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-2.png 1x, ./img/ingredients-2@2x.png 2x"
          src="./img/ingredients-2.png"
          alt="Milk in a glass bottle"
        />
        <h3 class="ingredients-name">Milk</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-3.png 1x, ./img/ingredients-3@2x.png 2x"
          src="./img/ingredients-3.png"
          alt="Hazelnuts"
        />
        <h3 class="ingredients-name">Nuts</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-4.png 1x, ./img/ingredients-4@2x.png 2x"
          src="./img/ingredients-4.png"
          alt="A pile of dark chocolate drops"
        />
        <h3 class="ingredients-name">Semi - sweet chocolate</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-5.png 1x, ./img/ingredients-5@2x.png 2x"
          src="./img/ingredients-5.png"
          alt="Two cocoa pods, one whole and one split open"
        />
        <h3 class="ingredients-name">Cacao</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-6.png 1x, ./img/ingredients-6@2x.png 2x"
          src="./img/ingredients-6.png"
          alt="A small cluster of fresh raspberries"
        />
        <h3 class="ingredients-name">Raspberry</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-7.png 1x, ./img/ingredients-7@2x.png 2x"
          src="./img/ingredients-7.png"
          alt="A broken coconut showing its white flesh"
        />
        <h3 class="ingredients-name">Coconut oil</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
      <li class="ingredients-item">
        <img
          class="ingredients-image"
          srcset="./img/ingredients-8.png 1x, ./img/ingredients-8@2x.png 2x"
          src="./img/ingredients-8.png"
          alt="Several dried vanilla beans and a fresh vanilla flower"
        />
        <h3 class="ingredients-name">Vanilla</h3>
        <svg class="arrow-icon transition" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
