.transition {
  transition-property:
    color, background-color, border-color, transform, visibility, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
