.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  width: 100%;
}
.bestsellers-item:nth-child(n + 2) {
  display: none;
}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.bestsellers-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--snow);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  backdrop-filter: blur(15px);
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
}
.bestsellers-item:hover .bestsellers-overlay {
  transform: translateY(0);
}
.bestsellers-name {
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--white);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}

@media only screen and (min-width: 768px) {
  .bestsellers-item {
    width: calc((100% - 1 * 16px) / 2);
  }
  .bestsellers-item:nth-child(2) {
    display: block;
  }
  .bestsellers-overlay {
    padding: 32px;
  }
  .bestsellers-name {
    padding: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .bestsellers-item {
    width: calc((100% - 2 * 16px) / 3);
  }
  .bestsellers-item:nth-child(3) {
    display: block;
  }
  .bestsellers-overlay {
    padding: 40px;
  }
}
