html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background-color: var(--snow);
}
address {
  font-style: normal;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section:nth-child(3) {
  padding-top: 80px;
}
.section:last-child {
  padding-bottom: 80px;
}
.section-title {
  width: 283px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.orange {
  color: var(--carrot-orange);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.button {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section:nth-child(3) {
    padding-top: 100px;
  }
  .section:last-child {
    padding-bottom: 100px;
  }
  .section-title {
    width: 412px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section:nth-child(3) {
    padding-top: 120px;
  }
  .section:last-child {
    padding-bottom: 120px;
  }
}
