.features {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--blackcurrant);
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.features-item {
  width: 308px;
  min-height: 244px;
}
.features-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}
.features-name {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}
.features-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 767.98px) {
  .features-item:last-child {
    min-height: 225px;
  }
}

@media only screen and (min-width: 768px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features-list {
    column-gap: 88px;
    row-gap: 44px;
  }
}

@media only screen and (min-width: 1200px) {
  .features-list {
    justify-content: center;
  }
  .features-text {
    line-height: 1.29;
  }
}
