.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--blackcurrant);
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.footer-wrapper:last-child {
  position: relative;
  margin-bottom: 0;
}
.footer-wrapper:last-child::before {
  content: "";
  position: absolute;
  top: -32px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-text {
  width: 300px;
  margin-right: 12px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--white);
}
.footer-caption {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--white);
}
.contacts-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--carrot-orange);
}
.footer .socials {
  display: flex;
  gap: 14px;
}
.footer .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.footer .socials-item:hover .footer .socials-link,
.footer .socials-item:focus .footer .socials-link {
  color: var(--carrot-orange);
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: currentColor;
}
.footer .navigation-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .navigation-link {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
}
.footer .navigation-link:hover,
.footer .navigation-link:focus {
  color: var(--carrot-orange);
}
.subscription {
  display: flex;
  gap: 8px;
}
.subscription .form-input {
  width: 207px;
  height: 45px;
  padding: 14px 18px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white);
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  outline: none;
}
.subscription .form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.subscribe-btn {
  width: 120px;
  height: 45px;
  padding: 14px;
  background-color: var(--carrot-orange);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--carrot-orange);
  background-color: var(--forget-me-not);
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 74px;
  }
  .footer-wrapper:last-child::before {
    top: -24px;
  }
  .footer-text {
    font-size: 28px;
    line-height: 1.21;
  }
  .contacts-wrapper {
    order: 3;
  }
  .footer .navigation-menu {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .subscription .form-input {
    width: 233px;
    padding: 14px 24px;
  }
  .subscribe-btn {
    width: 128px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-text {
    margin-right: 424px;
  }
  .footer .navigation-menu {
    gap: 24px;
  }
  .subscription .form-input {
    width: 313px;
    height: 52px;
    padding: 13px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
  .subscribe-btn {
    width: 137px;
    height: 52px;
    padding: 17px;
    line-height: 1.29;
  }
}
