.hero {
  padding-bottom: 80px;
}
.hero-wrapper {
  padding: 395px 22px 20px;
  background-color: var(--matterhorn);
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/hero-bg-w335.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.hero-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white);
}
.btn-list {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
}
.btn-list .button {
  height: 41px;
  padding: 12px;
}
.buy-now-btn {
  width: 120px;
  background-color: var(--carrot-orange);
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  color: var(--carrot-orange);
  background-color: var(--forget-me-not);
}
.how-its-made-btn {
  width: 159px;
  border-color: var(--white);
}
.how-its-made-btn:hover,
.how-its-made-btn:focus {
  color: var(--carrot-orange);
  border-color: var(--carrot-orange);
}
.scroll-down-btn {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: lowercase;
}
.scroll-down-btn:hover,
.scroll-down-btn:focus {
  color: var(--carrot-orange);
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: var(--carrot-orange);
  background-color: var(--white);
  border-radius: 100%;
}
.scroll-down-btn:hover .circle,
.scroll-down-btn:focus .circle {
  color: var(--white);
  background-color: var(--carrot-orange);
}
.scroll-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.scroll-down-btn:hover .scroll-icon,
.scroll-down-btn:focus .scroll-icon {
  transform: rotate(-180deg);
}

@media (min-resolution: 192dpi) {
  .hero-wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-bg-w335@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-bottom: 40px;
  }
  .hero-wrapper {
    padding: 671px 40px 40px;
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-bg-w704.jpg);
  }
  .hero-title {
    width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }
  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-list {
    margin-bottom: 0;
  }
  .btn-list .button {
    height: 45px;
    padding: 14px;
  }
  .buy-now-btn {
    width: 144px;
  }
  .how-its-made-btn {
    width: 183px;
  }
  .scroll-down-btn {
    gap: 14px;
    font-size: 14px;
    line-height: 1.29;
  }
  .circle {
    width: 38px;
    height: 38px;
  }
  .scroll-icon {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-bg-w704@2x.jpg);
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero-wrapper {
    padding: 381px 40px 40px;
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-bg-w1136.jpg);
  }
}

@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero-wrapper {
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-bg-w1136@2x.jpg);
  }
}
