.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.ingredients-item {
  position: relative;
  width: 100%;
  height: 270px;
  padding: 32px 28px 28px;
  background-color: var(--white);
  border: 1px solid var(--carrot-orange);
  border-radius: 15px;
}
.ingredients-item:nth-child(4n + 1) {
  background-color: var(--carrot-orange);
  border-color: transparent;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: var(--blackcurrant);
  border-color: transparent;
}
.ingredients-item:nth-child(n + 5) {
  display: none;
}
.ingredients-image {
  width: 236px;
  height: 176px;
  margin-right: auto;
  margin-left: auto;
}
.ingredients-name {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
}
.ingredients-item:nth-child(2n + 1) .ingredients-name {
  color: var(--white);
}
.arrow-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: var(--carrot-orange);
}
.ingredients-item:nth-child(2n + 1) .arrow-icon {
  stroke: var(--white);
}
.arrow-icon:hover {
  transform: scale(150%);
}

@media only screen and (min-width: 768px) {
  .ingredients-list {
    gap: 32px;
  }
  .ingredients-item {
    width: calc((100% - 1 * 32px) / 2);
  }
  .ingredients-item:not(:last-child) {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .ingredients-list {
    column-gap: 32px;
    row-gap: 24px;
  }
  .ingredients-item {
    width: calc((100% - 3 * 32px) / 4);
    padding: 28px 23px;
  }
  .ingredients-image {
    width: 214px;
    height: 160px;
  }
  .ingredients-name {
    margin-top: 36px;
    margin-left: 5px;
  }
}
