.backdrop {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 311px;
  min-height: 622px;
  padding: 32px 24px;
  background-color: var(--snow);
  border-radius: 15px;
}
.close-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  stroke: var(--black);
}
.close-modal-icon {
  width: 24px;
  height: 24px;
}
.modal-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.feedback .form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.input-wrapper {
  position: relative;
  margin-bottom: 14px;
}
.feedback .form-input {
  width: 100%;
  height: 46px;
  padding: 13px;
  padding-left: 43px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: var(--eclipse);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  outline: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.feedback .form-input:focus {
  border-color: var(--carrot-orange);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--eclipse);
  transform: translateY(-50%);
}
.feedback .form-input:focus + .form-icon {
  stroke: var(--carrot-orange);
}
.form-comment {
  width: 100%;
  height: 91px;
  margin-bottom: 18px;
  padding: 13px 18px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: var(--eclipse);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  outline: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  resize: none;
}
.form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.form-comment:focus {
  border-color: var(--carrot-orange);
}
.form-agreement {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  user-select: none;
}
.custom-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
}
.form-checkbox:checked + .custom-checkbox {
  background-color: var(--carrot-orange);
  border-color: var(--carrot-orange);
}
.checkbox-icon {
  opacity: 0;
  fill: var(--white);
}
.form-checkbox:checked + .custom-checkbox > .checkbox-icon {
  opacity: 1;
}
.agreement-link {
  text-decoration: underline;
  color: var(--carrot-orange);
}
.send-btn {
  width: 93px;
  height: 41px;
  padding: 12px;
  background-color: var(--carrot-orange);
}
.send-btn:hover,
.send-btn:focus {
  color: var(--carrot-orange);
  background-color: var(--forget-me-not);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 517px;
    min-height: 794px;
    padding: 40px;
  }
  .close-modal-btn {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
  .close-modal-icon {
    width: 28px;
    height: 28px;
  }
  .modal-title {
    width: 298px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.17;
  }
  .feedback .form-label {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .input-wrapper {
    margin-bottom: 18px;
  }
  .feedback .form-input {
    width: 100%;
    height: 68px;
    padding: 22px;
    padding-left: 62px;
    font-size: 18px;
    border-radius: 13px;
  }
  .form-icon {
    left: 24px;
    width: 24px;
    height: 24px;
  }
  .form-comment {
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    border-radius: 13px;
  }
  .form-agreement {
    margin-bottom: 40px;
    font-size: 14px;
  }
  .send-btn {
    width: 117px;
    height: 45px;
    padding: 14px;
  }
}
