/* BASE */
@import url("./variables.css");
@import url("./reset.css");
@import url("./common.css");

/* LAYOUT */
@import url("./container.css");

/* COMPONENTS */
@import url("./header.css");
@import url("./hero.css");
@import url("./features.css");
@import url("./ingredients.css");
@import url("./cooking.css");
@import url("./products.css");
@import url("./bestsellers.css");
@import url("./reviews.css");
@import url("./footer.css");

/* OVERLAYS */
@import url("./mobile-menu.css");
@import url("./modal.css");

/* UTILS / EFFECTS */
@import url("./animations.css");
